body {  
    background-color: rgba(203, 213, 8, 0.679);  
}  
  
#contenedor {  
    width: 1200px;  
    margin: 0 auto;  
}  
  
.menu {  
    background-color: blue;  
    width: 100%;  
    height: 60px;  
    text-align: center;  
}  
  
.sidebar {  
    background-color: rgb(242, 1, 255);  
    width: 260px;  
    height: 80vh;  
    display: inline-block;  
    vertical-align: top;  
}  
  
.content {  
    background-image: url(fondokanye.jpg);  
    background-size: cover;  
    background-position: center;  
    width: calc(100% - 260px);  
    height: 80vh;  
    display: inline-block;  
    vertical-align: top;  
    position: relative;  
    overflow: hidden;  
}  
  
.video-container {  
    position: absolute;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    max-width: 100%;  
    max-height: 100%;  
    width: 50%;  
    height: 50%;  
}  
  
.background-video {  
    width: 100%;  
    height: 100%;  
    border: 0;  
}  
  
.menu ul li {  
    display: inline-block;  
    margin-top: 10px;  
}  
  
.menu ul li a {  
    background-color: rgb(255, 0, 0);  
    width: 140px;  
    height: 30px;  
    display: inline-block;  
    padding-top: 12px;  
}  
  
.footer {  
    background-color: rgb(221, 13, 100);  
    height: 100px;  
}  
  
/* Ocultar todos los videos por defecto */  
.video {  
    display: none;  
}  
  
input[type="radio"] {  
    display: none;  
}  
  
/* Mostrar el video correspondiente cuando el radio button está seleccionado */  
#video1:checked ~ .content .video-container #video1-container,  
#video2:checked ~ .content .video-container #video2-container,  
#video3:checked ~ .content .video-container #video3-container,  
#video4:checked ~ .content .video-container #video4-container {  
    display: block;  
}  
  
.sidebar ol li label {  
    cursor: pointer;  
}  
