table{
    background-color: white;
}
table img{
    height: 30px;
}
th{
    width: 30px;
    height: 30px;
}
td{
    width: 30px;
    height: 30px;
}
.UADElogo img{
    height: 40px;
}
.yo img{
    height: 150px;
    border-radius: 50%;
}
.footer{ 
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer img{
    margin-bottom: 6px;
    vertical-align: middle;
    height: 20px;
}
.yo h1{
    text-align: center;
    font-size: 25px;
}
.texto{
    width: 500px;
    height:100px;
}
.link{
    color: rgb(188, 125, 7);
    text-decoration: none;
}
.cosas{
    margin-left: 30px;
    width: 1000px;
    height:200px;
    display: flex;  
    justify-content: space-between;  
}
.actividades{
    display: inline-block;  
    margin-left: 20px;
}
.paginas h3{
    margin-top: 100px;
    text-align: center;
}
.links{
    text-decoration: none;
    text-align: center;
}
.links a{
    margin-left: 10px;
    text-decoration: none;
}
.juego {
    margin-top: 20px;
    margin-bottom: 20px; 
    text-align: center;
}
.menu {
    margin-top: 20px;
}